*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popines", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 78px;
    top: 0;
    left: 0;
    padding: 6px 14px;
    background: #111;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 240px;
}

.sidebar .container_logo .logo {
    color: seashell;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .container_logo .logo {
    opacity: 1;
    pointer-events: none;
}

.container_logo .logo{
    font-size: 28px;
    margin-right: 5px;
}

.container_logo .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #menu_btn{
    position: absolute;
    color: seashell;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #menu_btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 20px;
    margin: 0;
    padding: 0;


}

.sidebar ul li{
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0 5px;
    padding-left: 5px;
    list-style: none;
    line-height: 50px;
    transition: all 0.2s ease;
    color: seashell;
    border-radius: 12px;
    
    
}



.sidebar ul li:hover{
    color: black;
    background: #f8b90b;
}







.sidebar ul li span{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
}

.sidebar ul li span i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    
}

.sidebar ul li span span{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    opacity: 0;
    pointer-events: none;
    
}

.sidebar.active ul li span span{
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    pointer-events: auto;
    
}




